
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Admin</li>
        <li>Users</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-list-alt fa-fw "></i>
                Users
                <span>
                    Manage users and permissions.
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <button class="btn btn-primary create">CREATE NEW USER</button>
                <div class="jarviswidget jarviswidget-sortable" id="wid-id-5" role="widget">
                    <header role="heading">

                        <h2>
                            <strong>Users</strong>
                        </h2>

                        <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>

                    </header>
                    <div role="content">
                        <div class="widget-body">

                            <div class="row">
                                <div class="col-sm-12" id="usersContainer">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search User" id="searchText" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" id="btnSearch" type="button">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-success" onclick="window.refreshTable()">Refresh Table</button>
                                    <table id="usersTable"></table>
                                    <div id="pagination"></div>
                                    <p>Notifications</p>
                                    <a data-name="CreatedUser" data-activeMessage="Subscribe to created user" data-inActiveMessage="Unsubscribe to created user" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                                    <a data-name="EditedUser" data-activeMessage="Subscribe to edited user" data-inActiveMessage="Unsubscribe to edited user" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                                    <a data-name="DeletedUser" data-activeMessage="Subscribe to deleted user" data-inActiveMessage="Unsubscribe to deleted user" class="btn btn-xs btn-default notificationButton">Getting data...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>

    </section>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/plugin/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/plugin/jqgrid/grid.locale-en.min.js"></script>
    <script src="~/Areas/Admin/Scripts/_users.js"></script>
}