@model SimpleCms.ModuleCms.SiteConfiguration.Dto.SiteInfoDto
@{
    Layout = null;
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@Model.SiteDescription">
<meta name="author" content="">

<link rel="shortcut icon" href="@Model.SiteIcon">

<title>@Model.SiteTitle - Admin / @User.Identity.Name</title>



