@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@L("Users_Users")</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <input class="form-control" placeholder="@L("Users_SearchUser")" id="searchText" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="btnSearch" type="button">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-sm-12" id="tableAllContainer">
            <input type="hidden" id="orgUnit" value="@ViewBag.OrgUnitId">
            <table id="allUsersTable"></table>
            <div id="allUsersPagination"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script src="~/Areas/Admin/Scripts/_orgUnits_LoadAllUsers.js"></script>